<div id='addImageModal' tabindex='-1' role='dialog' aria-labelledby='addImageModalLabel' aria-hidden='true' class='modal hide fade'>
    <form action='/api/study/{{study.id}}/image' method='post' enctype='multipart/form-data' class='form-horizontal'>
        <div class='modal-header'>
            <button data-dismiss='modal' aria-hidden='true' class='close'>×</button>
            <h3 id='addImageModalLabel'>Add Image</h3>
        </div>
        <div class='modal-body'>
            <p>
                <fieldset>
                    <div class='control-group'>
                        <div class='controls'>
                            <div data-provides='fileupload' class='fileupload fileupload-new'>
                                <div style='width: 148px; height: 111px;' class='fileupload-new thumbnail'>
                                    <img src='http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image' />
                                </div>
                                <div style='max-width: 148px; max-height: 111px; line-height: 20px;' class='fileupload-preview fileupload-exists thumbnail'></div>
                                <span class='btn btn-file'>
                                    <span class='fileupload-new'>Select image</span>
                                    <span class='fileupload-exists'>Change</span>
                                    <input type='file' name='studyFile' />
                                </span>
                                <a href='' data-dismiss='fileupload' class='btn fileupload-exists'>Remove</a>
                                <label class='checkbox fileupload-exists'>Is Normal?</label>
                                    <input type='checkbox' name='normal' />
                                <textarea rows='3' name='report' class='fileupload-exists' value='{{image.report}}' />
                            </div>
                        </div>
                    </div>
                </fieldset>
            </p>
        </div>
        <div class='modal-footer'>
            <button type='submit' class='btn btn-primary'>Add</button>
            <button data-dismiss='modal' aria-hidden='true' class='btn'>Cancel</button>
        </div>
    </form>
</div>