<h3>Edit Study</h3>

<div class='control-group'>
    <label class='control-label'>Accession Number:</label>
    <div class='controls'>
        <input ng-model='study.accessionNumber' placeholder="" />
    </div>
</div>
<div class='control-group'>
    <label class='control-label'>Patient's Name:</label>
    <div class='controls'>
        <input ng-model='study.patient.name' placeholder="" />
    </div>
</div>
<div class='control-group'>
    <label class='control-label'>Medical Record Number:</label>
    <div class='controls'>
        <input ng-model='study.patient.medicalRecordNumber' placeholder="" />
    </div>
</div>

<hr />

<div class='row'>
    <div class='row-fluid'>
        <button data-toggle='modal' data-target='#addImageModal' class='btn pull-right'>
            <i class='icon-plus'></i>Add Image
        </button>
        <label class='pagination-centered'>{{study.images.length}} Image(s)</label>
    </div>
    <div class='row'>
        <div class='span9'>
            <div x-iadss-image-list></div>
        </div>
    </div>
</div>

<div class='form-actions'>
    <h3>Are you sure you want to save this study?</h3>
    <button ng-click='saveStudy()' class='btn'>
        <i class='icon-ok'></i>Yes
    </button>
    <button ng-click='cancel()' class='btn'>
        <i class='icon-remove'></i>No
    </button>
</div>
