<div class="row-fluid">
    <header class="span12 hero-unit">
        <h1>IADSS</h1>
        <h5>Image Analysis and Decision Support for Ultrasound Technology</h5>
        <hr />
        <h3>Authors and Contributors</h3>
        <p>
            <ul ng-repeat="contributor in contributors">
                <li>{{contributor.name}}, {{contributor.association}}, {{contributor.country}}</li>
            </ul>
        </p>
    </header>
</div>
<!--
<div>
    <tabs>
        <pane ng-repeat="pane in panes" heading="{{pane.title}}" active="pane.active">
            <div ng-include="pane.template"></div>
        </pane>
    </tabs>
</div>-->
