<h3>View Study</h3>

<p>
    <label>Accession Number: {{study.accessionNumber}}</label>
</p>
<p>
    <label>Patient Name: {{study.patient.name}}</label>
</p>
<p>
    <label>Medical Record Number: {{study.patient.medicalRecordNumber}}</label>
</p>

<hr />
<div class='row'>
    <div class='row-fluid'>
        <label class='pagination-centered'>{{study.images.length}} Image(s)</label>
    </div>
    <div class='row'>
        <div class='span9'>
            <div x-iadss-image-list></div>
        </div>
    </div>
</div>

<div class='form-actions'>
    <a href='/#/studyEdit/{{study.id}}' class='btn'>
        <i class='icon-pencil'></i>Edit
    </a>
    <a href='/#/studyDelete/{{study.id}}' class='btn'>
        <i class='icon-trash'></i>Delete
    </a>
</div>
