<h3>Delete Study</h3>

<p>
    <label>Accession Number: {{study.accessionNumber}}</label>
</p>
<p>
    <label>Patient Name: {{study.patient.name}}</label>
</p>
<p>
    <label>Medical Record Number: {{study.patient.medicalRecordNumber}}</label>
</p>

<hr />

<div class='row'>
    <div class='row-fluid'>
        <label class='pagination-centered'>{{study.images.length}} Image(s)</label>
    </div>
    <div class='row'>
        <div class='span9'>
            <div x-iadss-image-list></div>
        </div>
    </div>
</div>

<div class='form-actions'>
    <h3>Are you sure you want to delete this study?</h3>
    <button ng-click='deleteStudy()' class='btn'>
        <i class='icon-ok'></i>Yes
    </button>
    <button ng-click='cancel()' class='btn'>
        <i class='icon-remove'></i>No
    </button>
</div>