
<h3>Study List</h3>

<table class='table table-striped'>
    <caption>Research Studie(s)</caption>
    <thead>
    <tr>
        <th>Accession</th>
        <th>Name</th>
        <th>Patient Id</th>
        <th># Images</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>
            <a href='/#/studyAdd/' class='btn pull-right'>
                <i class='icon-plus'></i>
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat='study in studies'>
        <td>{{study.accessionNumber}}</td>
        <td>{{study.patient.name}}</td>
        <td>{{study.patient.medicalRecordNumber}}</td>
        <td>{{study.images.length}}</td>
        <td>
            <a href='/#/studyRead/{{study.id}}' class='.btn'>View</a></td>
        <td>
            <a href='/#/studyEdit/{{study.id}}' class='.btn'>Edit</a></td>
        <td>
            <a href='/#/studyDelete/{{study.id}}' class='.btn'>Delete</a></td>
    </tr>
    </tbody>
</table>


<div class="well well-small">
    <pagination total-items="totalItems" items-per-page="itemsPerPage" page="currentPage" max-size="maxSize" class="pagination-small" boundary-links="true" rotate="false" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    <pre>Page: {{currentPage}} / {{numPages}}</pre>
</div>


