<ul class='thumbnails'>
    <li ng-repeat='image in study.images' class=''>
        <div class='thumbnail' style='float: left;'>
            <button ng-show='!readonly' ng-click='deleteImage(image)' class='btn pull-right'>
                <i class='icon-trash'></i>
            </button>
            <a href='api/study/{{study.id}}/image/{{image.id}}' alt='{{image.originalFileName}}' target='_blank'>
                <div style='max-width: 64px; max-height: 64px; min-width: 64px; min-height: 64px;'>
                    <img ng-src='api/study/{{study.id}}/image/{{image.id}}' class='img-polaroid' />
                </div>
            </a>
                <p>
                    <label class='checkbox'>Is Normal?
                        <input type='checkbox' ng-model='image.normal' ng-readonly='readonly' />
                    </label>
                </p>
                <p>
                    <textarea ng-model='image.report' style='float:left; resize: horizontal; min-width: 100px; min-height: 200px;' ng-readonly='readonly'></textarea>
                </p>
                <p>
                    <button ng-show='!readonly' ng-click='saveImage(image)' class='btn'>
                        <i class='icon-ok'></i>Save
                    </button>
                </p>
        </div>
    </li>
</ul>