<div>
    <div class='modal-header'>
        <button class='close' ng-click="cancel()">×</button>
        <h3>Add Image</h3>
    </div>
    <div class='modal-body'>
        <div ng-hide="progressVisible">
            <div class='control-group'>
                <div class='controls'>
                    <div data-provides='fileupload' class='fileupload fileupload-new'>
                        <div style='width: 148px; height: 111px;' class='fileupload-new thumbnail'>
                            <img src='http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image' />
                        </div>
                        <div style='max-width: 148px; max-height: 111px; line-height: 20px;' class='fileupload-preview fileupload-exists thumbnail'></div>
                        <span class='btn btn-file'>
                            <span class='fileupload-new'>Select image</span>
                            <span class='fileupload-exists'>Change</span>
                            <input type='file' onchange='angular.element(this).scope().setFiles(this)' />
                        </span>
                        <a href='' data-dismiss='fileupload' class='btn fileupload-exists'>Remove</a>
                        <label for='normal' class='checkbox fileupload-exists'>Is Normal?
                            <input type='checkbox' ng-model='study.normal' />
                        </label>
                        <textarea rows='3' ng-model='study.report' class='fileupload-exists' />
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="progressVisible" class="has-spinner active">
            <i class="icon-spinner icon-spin icon-large"></i> Uploading...
        </div>
    </div>
    <div class='modal-footer'>
        <button class='btn btn-primary' ng-click="ok()">Add</button>
        <button class='btn btn-warning' ng-click="cancel()">Cancel</button>
    </div>
</div>